<div class="one_fourth">
    <h4 class="section-header"><span>[CMS_STRING type="string" name="title" title="Title" tooltip="testas" /]</span></h4>
    <p>[CMS_STRING type="string" name="body" title='{"enUS":"Body text"}' tooltip="" /]</p>
    <p>[CMS_STRING type="link" name="link" title="Link" tooltip_url="enter url here" tooltip_title="enter title here" /]</p>
</div>