<div id="nav-wrapper">
	<!-- BEGIN #nav -->
	<ul id="nav">
		<li class="home-page">[CMS_STRING type="link" name="home" title='{"enUS":"Home Link","ltLT":"Pagrindinis puslapis"}' tooltip="I'm a tooltip too!" tooltip-link="2nd" /]</li>
        [CMS_ITERATOR name="tab"]
        <li>[CMS_STRING type="link" name="main" title="Main Link" tooltip="This is a tooltip from template!" tooltip-link="2nd" /]
            <ul>
            [CMS_ITERATOR name="dropdown"]
                <li>[CMS_STRING type="link" name="sublink" title="Dropdown Link" tooltip="This is a tooltip from template!" tooltip-link="2nd" /]</li>
            [/CMS_ITERATOR]
            </ul>
        </li>
        [/CMS_ITERATOR]
	</ul>
	<!-- END ul#nav -->
</div>