					<div id="slider-wrapper">
					
						<div id="slider-bg">
						
							<div id="slider-photos">
								
								<div id="slides">
									<div class="slides_container">
										<div class="slide">
											<a href="#" title="Photo Title"><img src="http://placehold.it/900x360" width="900" height="360" alt="Slide 1" /></a>
											<div class="caption" style="bottom:0">
												<h1>This is the title of the caption</h1>
												<p>This is the place for Your funky image caption!</p>
											</div>
										</div>
										<div class="slide">
											<a href="#" title="Photo Title"><img src="http://placehold.it/900x360" width="900" height="360" alt="Slide 2" /></a>
											<div class="caption" style="bottom:0">
												<h1>This is the title</h1>
												<p>This is the place for Your funky image caption!</p>
											</div>
										</div>
										<div class="slide">
											<a href="#" title="Photo Title"><img src="http://placehold.it/900x360/E8CB93" width="900" height="360" alt="Slide 2" /></a>
											<div class="caption" style="bottom:0">
												<h1>This is the title</h1>
												<p>This is the place for Your funky image caption! and <a href="#">this is the link</a></p>
											</div>
										</div>
										<div class="slide">
											<a href="#" title="Photo Title"><img src="http://placehold.it/900x360/563F39" width="900" height="360" alt="Slide 2" /></a>
											<div class="caption" style="bottom:0">
												<h1>This is the title</h1>
												<p>This is the place for Your funky image caption!</p>
											</div>
										</div>
										<div class="slide">
											<a href="#" title="Photo Title"><img src="http://placehold.it/900x360/9C4140" width="900" height="360" alt="Slide 2" /></a>
											<div class="caption" style="bottom:0">
												<h1>This is the title</h1>
												<p>This is the place for Your funky image caption!</p>
											</div>
										</div>
										<div class="slide">
											<a href="#" title="Photo Title"><img src="http://placehold.it/900x360/969696" width="900" height="360" alt="Slide 2" /></a>
											<div class="caption" style="bottom:0">
												<h1>This is the title</h1>
												<p>This is the place for Your funky image caption!</p>
											</div>
										</div>
									</div>
									<a href="#" class="prev"><img src="images/arrow-prev.png" width="30" height="70" alt="Arrow Prev" /></a>
									<a href="#" class="next"><img src="images/arrow-next.png" width="30" height="70" alt="Arrow Next" /></a>
								</div>
							
							</div>
						
						</div>
					
					</div>