<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	
	<!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="css/960.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox-1.3.4.css" media="all" />

	<!-- STANDARD SCRIPTS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.packed.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
    
	<title>Silence - Galleries</title>
    [CMS_HEAD /]
</head>
<body>
	[CMS_BODY /]
	<!-- BEGIN #header-wrapper -->
	<div id="header-wrapper">
	
		<!-- BEGIN .header-bg -->
		<div class="header-bg">
		
			<!-- BEGIN .glow -->
			<div class="glow">
			
				<!-- BEGIN #header-small -->
				<div id="header-small">
		
					<!-- BEGIN #top -->
					<div id="top">
						
						<!-- BEGIN #top-inner -->
						<div id="top-inner">
					
							<!-- BEGIN #logo -->
							<div id="logo">
							
								<a href="#"><img src="images/logo.png" alt="Logo" /></a>
							
							</div>
							<!-- END #logo -->
							
							<!-- BEGIN #nav-wrapper -->
							[CMS_MODULE template="navbar" flags="_global" /]
							<!-- END ul#nav-wrapper -->
							
						</div>
						<!-- END #top-inner -->
					
					</div>
					<!-- END #top -->
					
					<div id="page-title">
					
						<h1>Galleries</h1>
					
					</div>
				
				</div>
				<!-- END #header-small -->
			
			</div>
			<!-- END .glow -->
			
		</div>
		<!-- END .header-bg -->
	
	</div>
	<!-- END #header-wrapper -->

			<div class="lines-bg">
			
				<!-- BEGIN #content -->
				<div id="content" class="container_24">
				
					<!-- BEGIN .columns -->
					<div class="columns">

						<div class="group">
							[CMS_CONTAINER type="galleries" name="galleries" slots="4" /]
							
							<h3 class="section-header"><span>Gallery 3 Columns</span></h3>
							
							<!-- BEGIN .gallery-3-col -->
							<div class="gallery gallery-3-col">
							
								<ul>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/270x170" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/270x170" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/270x170" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/270x170" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/270x170" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/270x170" alt="Photo" />
										</a>
									</li>
								</ul>
							
							</div>
							<!-- END .gallery-3-col -->
							
							<div class="divider"></div>
							
							<h3 class="section-header"><span>Gallery 4 Columns</span></h3>
							
							<!-- BEGIN .gallery-4-col -->
							<div class="gallery gallery-4-col">
							
								<ul>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/200x140" alt="Photo" />
										</a>
									</li>
								</ul>
							
							</div>
							<!-- END .gallery-4-col -->
							
							<div class="divider"></div>
							
							<h3 class="section-header"><span>Gallery 6 Columns</span></h3>
							
							<!-- BEGIN .gallery-6-col -->
							<div class="gallery gallery-6-col">
							
								<ul>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
									<li class="fancycaption photo-overlay">
										<a class="fancybox-photo" href="images/lfg-thumb.jpg" title="Your title for the image">
											<img class="fade" src="http://placehold.it/120x100" alt="Photo" />
										</a>
									</li>
								</ul>
							
							</div>
							<!-- END .gallery-6-col -->
						
						</div>
							
						<div class="clear"></div>
					
					</div>
					<!-- END .columns -->
				
				</div>
				<!-- END #content -->
			
			</div>
			
			<!-- BEGIN #footer-wrapper -->
			<div id="footer-wrapper">
			
				<!-- BEGIN #footer-bg -->
				<div id="footer-bg">
				
					<!-- BEGIN .footer-glow -->
					<div class="footer-glow">			
				
						<!-- BEGIN #footer -->
						<div id="footer" class="container_24">
						
							<div class="columns">
						
								<div class="one_fourth">
								
									<h4>From Our Flickr</h4>
									
									<div id="flickr-feed">
						
										<ul></ul>
									
									</div>
								
								</div>
								
								<div class="one_half">
								
									<h4>Recent Tweet</h4>
									
									<div id="tweets"></div>
									
									<p class="twitter-feed"><a href="#">Follow Us on Twitter</a> <img src="images/twitter-icon.png" alt="twitter icon" /></p>
									
								</div>
								
								<div class="one_fourth last_column">
								
									<h4>Subscribe</h4>
									
									<ul class="subscribe">
										<li><a class="subscribe-fb" href="#"></a></li>
										<li><a class="subscribe-rss" href="#"></a></li>
										<li><a class="subscribe-tw" href="#"></a></li>
										<li><a class="subscribe-fl" href="#"></a></li>
										<li><a class="subscribe-in" href="#"></a></li>
										<li><a class="subscribe-yt" href="#"></a></li>
									</ul>
									
									<h5>Sign Up for Newsletter</h5>
									
									<div class="newsletter">
										<form class="newsletter-form" action="#" method="post">
											<fieldset>
												<input type="text" value="enter Your email here" size="30" id="newsletter-email" name="email" />
												<input type="submit" class="newsletter-submit" value="" />
											</fieldset>
										</form>
									</div>
									
								</div>
								
								<div class="clear"></div>
							
							</div>
							
							<div class="clear"></div>
						
						</div>
						<!-- END #footer -->
						
						<div id="footer-bottom-wrapper">
						
							<!-- BEGIN #footer-bottom -->
							<div id="footer-bottom" class="group">
							
								<div class="copyright">
									
									<p>Copyright <![CDATA[&copy;]]> 2011 <a href="http://www.m-themes.eu">m-themes</a></p>
							
								</div>
								
							</div>
							<!-- END #footer-bottom -->
						
						</div>
						<!-- END #footer-bottom-wrapper -->
					
					</div>
					<!-- END .footer-glow -->
					
				</div>
				<!-- END #footer-bg -->
			
			</div>
			<!-- END #footer-wrapper -->

</body>
</html>