<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	
	<!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="css/960.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />

	<!-- STANDARD SCRIPTS -->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.packed.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
	
	<!-- PAGE SPECIFIC SCRIPTS -->
	<script type="text/javascript" src="js/slides.min.jquery.js"></script>
    
	<script type="text/javascript">
	
		$(document).ready(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '../images/loading.gif',
				effect: 'slide',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:0,
						right: 70,
						opacity: 0
					},200);
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:50,
						right: 70,
						opacity: 1
					},200);
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:50,
						right: 70,
						opacity: 1
					},200);
				}
			});
            
            $(".group").children("div:last").addClass("last_column");
		});
	
	</script>
    [CMS_HEAD /]
	<title>testas</title>
</head>
<body>
    [CMS_BODY /]
	<!-- BEGIN #header-wrapper -->
	<div id="header-wrapper">
	
		<!-- BEGIN .header-bg -->
		<div class="header-bg">
		
			<!-- BEGIN .glow -->
			<div class="glow">
			
				<!-- BEGIN #header -->
				<div id="header">
		
					<!-- BEGIN #top -->
					<div id="top">
						
						<!-- BEGIN #top-inner -->
						<div id="top-inner">
					
							<!-- BEGIN #logo -->
							<div id="logo">
							
								<a href="#"><img src="images/logo.png" alt="Logo" /></a>
							
							</div>
							<!-- END #logo -->
							
							<!-- BEGIN #nav-wrapper -->
							[CMS_MODULE template="navbar" flags="_global" /]
							<!-- END ul#nav-wrapper -->
							
						</div>
						<!-- END #top-inner -->
					
					</div>
					<!-- END #top -->
				
					<!-- BEGIN #slider-wrapper -->
					[CMS_MODULE template="slider" flags="" /]
					<!-- END #slider-wrapper -->
				
				</div>
				<!-- END #header -->
			
			</div>
			<!-- END .glow -->
			
		</div>
		<!-- END .header-bg -->
	
	</div>
	<!-- END #header-wrapper -->

			<div class="lines-bg">
			
				<!-- BEGIN #content -->
				<div id="content" class="container_24">
				
					<!-- BEGIN .columns -->
					<div class="columns">
				
						<!-- BEGIN .latest-from-gallery -->
						<div class="latest-from-gallery group">
						
							[CMS_CONTAINER type="onefourth" name="top" slots="4" /]
						
						</div>
						<!-- END .latest-from-gallery -->
						
						<div class="divider"></div>
						
						<!-- BEGIN .recent-projects -->
						<div class="recent-projects group">
						
							[CMS_CONTAINER type="onefourth" name="middle" slots="4" /]
						
						</div>
						<!-- END .recent-projects -->
						
						<div class="divider"></div>
						
						<!-- BEGIN .latest-from-blog -->
						<div class="latest-from-blog group">
						
							<div class="one_fourth">
							
								<h4 class="section-header"><span>Latest from blog</span></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc ante, faucibus non sodales vitae, ultricies venenatis urna.</p>
								<p><a class="button small" href="#">Read Our Blog &rarr;</a></p>
								
							
							</div>
							
							<div class="one_fourth">
							
								<div class="fancycaption link-overlay latest-from-blog-thumb">
									<a href="#">
										<img class="fade" src="http://placehold.it/188x88" alt="Photo" />
									</a>
								</div>
								<div class="latest-from-blog-desc">
									<h5>Vivamus quis purus id</h5>
									<p>Proin fermentum imperdiet sapien vel consequat. Nullam pharetra elit id turpis rhoncus... <a href="#">Read more</a></p>
								</div>
							
							</div>
							
							<div class="one_fourth">
							
								<div class="fancycaption link-overlay latest-from-blog-thumb">
									<a href="#">
										<img class="fade" src="http://placehold.it/188x88" alt="Photo" />
									</a>
								</div>
								<div class="latest-from-blog-desc">
									<h5>Vivamus quis purus id</h5>
									<p>Proin fermentum imperdiet sapien vel consequat. Nullam pharetra elit id turpis rhoncus... <a href="#">Read more</a></p>
								</div>
								
							</div>
							
							<div class="one_fourth last_column">
							
								<div class="fancycaption link-overlay latest-from-blog-thumb">
									<a href="#">
										<img class="fade" src="http://placehold.it/188x88" alt="Photo" />
									</a>
								</div>
								<div class="latest-from-blog-desc">
									<h5>Vivamus quis purus id</h5>
									<p>Proin fermentum imperdiet sapien vel consequat. Nullam pharetra elit id turpis rhoncus... <a href="#">Read more</a></p>
								</div>
							
							</div>
						
						</div>
						<!-- END .latest-from-blog -->
					
					</div>
					<!-- END .columns -->
				
				</div>
				<!-- END #content -->
			
			</div>
			
			<!-- BEGIN #footer-wrapper -->
			<div id="footer-wrapper">
			
				<!-- BEGIN #footer-bg -->
				<div id="footer-bg">
				
					<!-- BEGIN .footer-glow -->
					<div class="footer-glow">			
				
						<!-- BEGIN #footer -->
						<div id="footer" class="container_24">
						
							<div class="columns">
						
								<div class="one_fourth">
								
									<h4>From Our Flickr</h4>
									
									<div id="flickr-feed">
						
										<ul></ul>
									
									</div>
								
								</div>
								
								<div class="one_half">
								
									<h4>Recent Tweet</h4>
									
									<div id="tweets"></div>
									
									<p class="twitter-feed"><a href="#">Follow Us on Twitter</a> <img src="images/twitter-icon.png" alt="twitter icon" /></p>
									
								</div>
								
								<div class="one_fourth last_column">
								
									<h4>Subscribe</h4>
									
									<ul class="subscribe">
										<li><a class="subscribe-fb" href="#"></a></li>
										<li><a class="subscribe-rss" href="#"></a></li>
										<li><a class="subscribe-tw" href="#"></a></li>
										<li><a class="subscribe-fl" href="#"></a></li>
										<li><a class="subscribe-in" href="#"></a></li>
										<li><a class="subscribe-yt" href="#"></a></li>
									</ul>
									
									<h5>Sign Up for Newsletter</h5>
									
									<div class="newsletter">
										<form class="newsletter-form" action="#" method="post">
											<fieldset>
												<input type="text" value="enter Your email here" size="30" id="newsletter-email" name="email" />
												<input type="submit" class="newsletter-submit" value="" />
											</fieldset>
										</form>
									</div>
									
								</div>
								
								<div class="clear"></div>
							
							</div>
							
							<div class="clear"></div>
						
						</div>
						<!-- END #footer -->
						
						<div id="footer-bottom-wrapper">
						
							<!-- BEGIN #footer-bottom -->
							<div id="footer-bottom" class="group">
							
								<div class="copyright">
									
									<p>Copyright &copy; 2011 <a href="http://www.m-themes.eu">m-themes</a></p>
							
								</div>
								
							</div>
							<!-- END #footer-bottom -->
						
						</div>
						<!-- END #footer-bottom-wrapper -->
					
					</div>
					<!-- END .footer-glow -->
					
				</div>
				<!-- END #footer-bg -->
			
			</div>
			<!-- END #footer-wrapper -->

</body>
</html>