<div>
    <h3 class="section-header"><span>[CMS_STRING type="string" name="title" title='{"enUS":"Title"}' tooltip="" /]</span></h3>
    <div class="gallery gallery-2-col">
        <ul>
            [CMS_ITERATOR name="image"]
                <li class="fancycaption photo-overlay">
                    <a class="fancybox-photo" href="images/lfg-thumb.jpg">
                        [CMS_STRING type="img" attr='class="fade"' name="image" title='{"enUS":"Image"}' width="420" height="260" />
                    </a>
                </li>
            [/CMS_ITERATOR]
        </ul>
    </div>
    <div class="divider"></div>
</div>